# combine two list in single list

In [3]:
a=["hello","hi","sanj"]
b=["sanu","manu"]
a.append(b)
print(a)

['hello', 'hi', 'sanj', ['sanu', 'manu']]

# print simple addition

In [4]:
a=10
b=20
print(a+b)

30

# Addition of two number using function

In [39]:
def test(a,b):
    print(a+b)
    
test(4,6)

10

In [38]:
test(4,5) # calling function

9

In [11]:
def test(a,b):
    print(a+b)
    
a=test(5,4)
print(a)

9
None

# Addition of two number with return argument

In [10]:
def test (a,b):
    return(a+b)
a=test(5,4)
print(a)

9

# Local variable Adn global variable

In [13]:
a="one"
def test():
    a="python"
    return(a)
print(a)
a=test()
print(a)

one
python

In [14]:
a="one"

def test():
    a="python"
    return(a)
print(a)
test()
print(a)

one
one

In [16]:
a="one"
def test(a):
    print(a)
    a="python"
    print(a)
    
test(a)

one
python

In [17]:
def test(a,b):
    print(a+b)
test(5,4)

9

In [19]:
a="one"

def test():
    a="python"
    print(a)
    
test()
print(a)

python
one

In [18]:
a="one"

def test():
    global a
    a="python"
    print(a)
    
test()
print(a)

python
python

# Positional argument function

In [21]:
def test(fname,mname,lname):
    print(fname)
    print(mname)
    print(lname)
    
test("sachin","ramesh","tendulkar")

sachin
ramesh
tendulkar

In [25]:
def test(fname,mname,lname):
    print(fname)
    print(mname)
    print(lname)
    
test(lname= "sachin", mname="ramesh", fname="tendulkar") #positional argument

tendulkar
ramesh
sachin

In [26]:
def test(fname,mname,lname):
    print(fname)
    print(mname)
    print(lname)
    
test("sachin")

TypeError: test() missing 2 required positional arguments: 'mname' and 'lname'

# Defaul argument

In [28]:
def test(fname=None,mname=None,lname=None):
    print(fname)
    print(mname)
    print(lname)
    
test("dhoni")

dhoni
None
None

# Find even and odd number using function

 def test(start_pos,end_pos,mod):
    
    l=[]
    
    if mod == "even":
        reminder=0
        
    else:
        reminder=1
        
    for i in range(start_pos,end_pos):
        if i%2 == reminder:
            l.append(i)
            
        return l

In [33]:
l=test(10,20,"even")
print(l)

[10, 12, 14, 16, 18]

# List comphrension

In [31]:
a = [i for i in range(10,20) if i %2 == 0]
print(a)

[10, 12, 14, 16, 18]